# IDEA config files
/.idea
*/node_modules
**/orm/
/docker/**/orm
/package-lock.json
/playwright/test-results/
/playwright/allure-results/
/playwright/allure-report/
/playwright/playwright-report/
.DS_Store
